select {
	position:absolute;
	left: calc( 50% - 150px);
	top: calc( 50% - 94px );
	vertical-align:top;
	height:50px;
	width:300px;
	font-size:24px;
	background-color:white;
	text-align:center;
}
#title{
	padding-top:50px;
	font-size:100px;
	overflow:hidden;
	text-align:center;
	font-family:Helvetica;
}

