* {
  padding: 0px;
  margin: 0px; }

body {
  font-family: "Open Sans"; }

.container {
  font-size: 24px;
  width: 75%;
  text-align: center;
  margin: 0 auto; }

.tips {
  margin: 10px;
  list-style: none;
  text-align: center;
  font-family: Open Sans;
  font-size: 36px;
  height: 10%; }

#boxscore {
  text-align: center;
  margin: 10px; }
  #boxscore table {
    margin: 10px;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-spacing: 0;
    border: 1px solid black;
    font-size: 24px; }
    #boxscore table td {
      padding: 10px;
      border: 1px solid black; }
