* {
  padding: 0px;
  margin: 0px; }

#first {
  display: none; }

.pane {
  height: 20%;
  width: 100%;
  background: #FF3333; }

.middlepane {
  height: 60%;
  width: 100%;
  background: #fff;
  text-align: center; }

#title {
  font-size: 150px;
  color: #000;
  font-family: Helvetica; }

#lowerpane {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #E74C3C; }

#higherpane {
  position: fixed;
  left: 25%;
  height: 100%;
  width: 50%;
  background: #fff; }

.tip {
  text-align: center;
  font-family: Open Sans;
  font-size: 36px;
  height: 10%; }
