*{
	padding:0px;
	margin:0px;
}
#first{
	display:none;
}
// #second{
// }
.pane{
	height:20%;
	width:100%;
	background-color:#FF3333;;
}
.middlepane{
	height:60%;
	width:100%;
	background-color:#fff;
	text-align:center;
}
#title{
	font-size:150px;
	color:#000;
    font-family:Helvetica;
}
#lowerpane{
	// height:100%;
 	background-color:#FF793F;
 }
#higherpane{
	height:100%;
	width:75%;
	margin: 0 auto;
 	background-color: white;
 	padding: 10px;
}

.tip{
	list-style: none;
	text-align:center;
	font-family:Open Sans;
	font-size:36px;
	height:10%;
}
